<h3 class="page-title"><%= pluralize(@audios.size, 'audio') %> stored</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Uniqid</th>
      <th>Title</th>
      <th>Capture</th>
      <th>Url</th>
      <% if current_user.admin %>
      <th>Reference</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @audios.each do |audio| %>
      <tr>
        <td><%= audio.uniqid %></td>
        <td><%= audio.title %></td>
        <td><%= audio.capture %></td>
        <td><%= audio.url %></td>
        <% if current_user.admin %>
        <td><%= audio.device.name %></td>
        <td><%= link_to 'Show', audio %></td>
        <td><%= link_to 'Edit', edit_admin_audio_path(audio) %></td>
        <td><%= link_to 'Destroy', admin_audio_path(audio), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to 'New Audio', new_admin_audio_path, class: 'btn btn-success' %>
<% end %>