<h1>Listing logs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Uniqid</th>
      <th>Contact</th>
      <th>Log type</th>
      <th>Time</th>
      <th>Duration</th>
      <th>Device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= log.uniqid %></td>
        <td><%= log.contact %></td>
        <td><%= log.log_type %></td>
        <td><%= log.time %></td>
        <td><%= log.duration %></td>
        <td><%= log.device %></td>
        <td><%= link_to 'Show', admin_log_path(log) %></td>
        <td><%= link_to 'Edit', edit_admin_log_path(log) %></td>
        <td><%= link_to 'Destroy', admin_log_path(log), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log', new_admin_log_path %>