<h1>Listing contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Uniqid</th>
      <th>Number</th>
      <th>Name</th>
      <% if current_user.admin %>
      <th>Device</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.uniqid %></td>
        <td><%= contact.number %></td>
        <td><%= contact.name %></td>
        <% if current_user.admin %>
        <td><%= contact.device %></td>
        <td><%= link_to 'Show', admin_contact_path(contact) %></td>
        <td><%= link_to 'Edit', edit_admin_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', admin_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admin %>
<%= link_to 'New Contact', new_admin_contact_path %>
<% end %>
