<ul class="nav">
  <li>
  <%= link_to(admin_devices_path(), class: "active") do %>
    <%= content_tag(:i, "", class: "fa fa-mobile fa-mobilex") %> Device Info <%= content_tag(:span, all_device.size, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_logs_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-phone") %> Call History <%= content_tag(:span, Log.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_contacts_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-book") %> Address Book <%= content_tag(:span, Contact.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_messages_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-comment") %> SMS History <%= content_tag(:span, Message.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_locations_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-map-marker") %> GPS Location <%= content_tag(:span, Location.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_apps_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-briefcase") %> Installed App <%= content_tag(:span, App.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <!--li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-globe") %> GPS Notification <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li-->
  <li>
  <%= link_to(admin_images_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-camera") %> Images <%= content_tag(:span, Image.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_videos_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-film") %> Video File <%= content_tag(:span, Video.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to(admin_audios_path(device_id: params[:device_id], start_time: params[:start_time], end_time: params[:end_time])) do %>
    <%= content_tag(:i, "", class: "fa fa-music") %> Audio File <%= content_tag(:span, Audio.where(device_id: selected_device).count, class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <!--li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-comments") %> WhatsApp <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li-->
  <!--li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-globe") %> Browser History <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-envelope") %> Email History <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-bookmark") %> Bookmarks <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li>
  <li>
  <%= link_to("#") do %>
    <%= content_tag(:i, "", class: "fa fa-tasks") %> Events <%= content_tag(:span, "#", class: "field-count btn btn-xs btn-black") %>
  <% end %>
  </li-->
  <% if current_user.admin? %>
    <li>
    <%= link_to(admin_users_path) do %>
      <%= content_tag(:i, "", class: "fa fa-briefcase") %> Users <%= content_tag(:span, User.count, class: "field-count btn btn-xs btn-black") %>
    <% end %>
    </li>
    <li><%= link_to "Pages", admin_pages_path %></li>
    <li>
    <%= link_to(reset_path) do %>
      <%= content_tag(:i, "", class: "fa fa-thumbs-o-down
") %> Reset
    <% end %>
    </li>
  <% end %>
</ul>
