<h3 class="page-title"><%= pluralize(@videos.size, 'video') %> stored</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Uniqid</th>
      <th>Title</th>
      <th>Capture</th>
      <th>Url</th>
      <% if current_user.admin %>
      <th>Reference</th>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.uniqid %></td>
        <td><%= video.title %></td>
        <td><%= video.capture %></td>
        <td><%= video.url %></td>
        <% if current_user.admin %>
        <td><%= video.device.name %></td>
        <td><%= link_to 'Show', admin_video_path(video) %></td>
        <td><%= link_to 'Edit', edit_admin_video_path(video) %></td>
        <td><%= link_to 'Destroy', admin_video_path(video), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_admin_video_path %>