<%= jwplayer_assets %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Uniqid:</strong>
  <%= @video.uniqid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Capture:</strong>
  <%= @video.capture %>
</p>

<p>
  <strong>Video:</strong>
  <%= jwplayer ({'file' => "/2-dynamic-find-by-methods.mp4"}) %>
  
</p>

<p>
  <strong>Device:</strong>
  <%= @video.device.name %>
</p>

<%= link_to 'Edit', edit_admin_video_path(@video), class: 'btn btn-success' %> |
<%= link_to 'Back', admin_videos_path, class: 'btn btn-success' %>